<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Испытание: строим сетку</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="nav">
      <div class="layout-positioner">
        <header class="header">
          <p class="text">Header</p>
        </header>
      </div>
      <div class="menu">
        <div class="layout-positioner">
          <div class="menu__textBlock">
            <p class="text">Menu</p>
          </div>
        </div>
      </div>
      <section class="promo-section">
        <div class="layout-positioner">
          <div class="promo-column">
            <p class="text">Promo 1</p>
          </div>
          <div class="promo-column">
            <p class="text">Promo 2</p>
          </div>
        </div>
      </section>
    </nav>
    <main class="main">
      <div class="layout-positioner">
        <div class="col">
          <p class="text">Left</p>
        </div>
        <div class="col">
          <p class="text">Main</p>
        </div>
        <div class="col">
          <p class="text">Right</p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="layout-positioner">
        <div class="footer__textBlock">
          <p class="text">Footer</p>
        </div>
      </div>
    </footer>
  </body>
</html>
